.baseInfo{font-size: 14px;border:1px solid #DDDDDD;list-style-type: none;margin: 0;outline: medium none;padding: 0;width: 600px}
.table-center{text-align: center}
.load_out {
    background: url("../images/down.png") no-repeat scroll 11px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 20px;
    padding: 0 0 0 8px;
    width: 22px;
    float:right;
}
.left-p{text-align: left}
.div-header{height: 24px;width: 600px; margin:30px 0 20px 0; border-bottom: 1px solid #000000;}
.summary{display: none}
.pager{display: none}